.square {
    height: 100px;
}

@media screen and (min-width: 1024px) {
    .square {
        width: 33%;
        background-color: blue;
        border: solid 5px green;
        border-radius: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .square {
        width: 66%;
        background-color: red;
        border: solid 5px yellow;
        border-radius: 15px;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .square {
        width: 100%;
        background-color: orange;
        border: solid 5px black;
    }
}